.header {
    text-align: center;
    color: blue; 
    font-size: 75px;
    font-family: arial;
    margin-bottom: 0%;
}
.check {
    color:blue;
    font-size: 50px;
    margin-top:1%;
    margin-right:5%;
}
.newGame {
    color:red;
    font-size: 50px;
    margin-top:1%
}
.directions {
    font-size: 30px;
}
.footer {
    color: red;
    font-size: 12px;
    margin-top: 0%;
}
.container {
    webkit-appearance: none !important;
    position: relative;
    text-align: left;
    width: 100%;
}
.break1 {
    border-radius: 0;
    color:black;
    background-color:yellow;
    font-size:40%;
    margin-right: 0%;
}
.break2 {
    border-radius: 0;
    color:black;
    background-color:white;
    font-size:40%;
    margin-right: 0%;
}
.break3 {
    border-radius: 0;
    color:black;
    background-color:white;
    font-size:40%;
    margin-right: 0%;
}
.break4 {
    border-radius: 0;
    color:black;
    background-color:white;
    font-size:40%;
    margin-right: 0%;
}
.break5 {
    border-radius: 0;
    color:black;
    background-color:white;
    font-size:40%;
    margin-right: 0%;
}
.break6 {
    border-radius: 0;
    color:black;
    background-color:white;
    font-size:40%;
    margin-right: 0%;
}

.selectRed { 
    border: none;
    border-radius: 50%;
    background-color: red;
    color: black;
    font-size: 70%;
    text-align: center;
    margin-right: 1%;
    box-shadow: 3px 3px 2px 2px gray;
    padding: 1% 1%;
}

.selectBlue {
    border: none;
    border-radius: 50%;
    background-color: blue;
    color: black;
    font-size: 70%;
    text-align: center;
    margin-right: 1%;
    box-shadow: 3px 3px 2px 2px gray;
    padding: 1% 1%;
}

.selectYellow { 
    border: none;
    border-radius: 50%;
    background-color: yellow;
    color: black;
    font-size: 70%;
    text-align: center;
    margin-right: 1%;
    box-shadow: 3px 3px 2px 2px gray;
    padding: 1% 1%;
}

.selectGreen { 
    border: none;
    border-radius: 50%;
    background-color: green;
    color: black;
    font-size: 70%;
    text-align: center;
    margin-right: 1%;
    box-shadow: 3px 3px 2px 2px gray;
    padding: 1% 1%;
}

.selectPurple {
    border: none;
    border-radius: 50%;
    background-color: purple;
    color: black;
    font-size: 70%;
    text-align: center;
    margin-right: 1%;
    box-shadow: 3px 3px 2px 2px gray;
    padding: 1% 1%;
}

.selectOrange {
    border: none;
    border-radius: 50%;
    background-color: orange;
    color: black;
    font-size: 70%;
    text-align: center;
    margin-right: 1%;
    box-shadow: 3px 3px 2px 2px gray;
    padding: 1% 1%;
}

.selectBlank {
    border: none;
    border-radius: 50%;
    background-color: gray;
    color: black;
    font-size: 70%;
    text-align: center;
    margin-right: 1%;
    box-shadow: 3px 3px 2px 2px gray;
    padding: 1% 1%;
}

.guess11 { height: 100%;
    margin-bottom: 75px;
    border: none;
    border-radius: 50%;
    background-color: gray;
    color: black;
    font-size: 60%;
    margin-right: 0%;
    text-align: center;
    padding: 1% 1%;
}

.guess12 { height: 100%;
    border: none;
    border-radius: 50%;
    background-color: gray;
    color: black;
    font-size: 60%;
    margin-right: 0%;
    text-align: center;
    padding: 1% 1%;
}

.guess13 { height: 100%;
    border: none;
    border-radius: 50%;
    background-color: gray;
    color: black;
    font-size: 60%;
    margin-right: 0%;
    text-align: center;
    padding: 1% 1%;
}

.guess14 { height: 100%;
    border: none;
    border-radius: 50%;
    background-color: gray;
    color: black;
    font-size: 60%;
    margin-right: 0%;
    text-align: center;
    padding: 1% 1%;
}

.hint11 { height: 100%;
    border: none;
    border-radius: 50%;
    background-color: gray;
    color: black;
    font-size: 25%;
    box-shadow: 3px 3px 2px 2px gray;
}

.hint12 { height: 100%;
    border: none;
    border-radius: 50%;
    background-color: gray;
    color: black;
    font-size: 25%;
    box-shadow: 3px 3px 2px 2px gray;
}

.hint13 { height: 100%;
    border: none;
    border-radius: 50%;
    background-color: gray;
    color: black;
    font-size: 25%;
    box-shadow: 3px 3px 2px 2px gray;
}

.hint14 { height: 100%;
    border: none;
    border-radius: 50%;
    background-color: gray;
    color: black;
    font-size: 25%;
    box-shadow: 3px 3px 2px 2px gray;
}

.guess21 { height: 100%;
    border: none;
    border-radius: 50%;
    background-color: gray;
    color: black;
    font-size: 60%;
    margin-right: 0%;
    text-align: center;
    padding: 1% 1%;
}

.guess22 { height: 100%;
    border: none;
    border-radius: 50%;
    background-color: gray;
    color: black;
    font-size: 60%;
    margin-right: 0%;
    text-align: center;
    padding: 1% 1%;
}

.guess23 { height: 100%;
    border: none;
    border-radius: 50%;
    background-color: gray;
    color: black;
    font-size: 60%;
    margin-right: 0%;
    text-align: center;
    padding: 1% 1%;
}

.guess24 { height: 100%;
    border: none;
    border-radius: 50%;
    background-color: gray;
    color: black;
    font-size: 60%;
    margin-right: 0%;
    text-align: center;
    padding: 1% 1%;
}

.hint21 { height: 100%;
    border: none;
    border-radius: 50%;
    background-color: gray;
    color: black;
    font-size: 25%;
    box-shadow: 3px 3px 2px 2px gray;
}

.hint22 { height: 100%;
    border: none;
    border-radius: 50%;
    background-color: gray;
    color: black;
    font-size: 25%;
    box-shadow: 3px 3px 2px 2px gray;
}

.hint23 { height: 100%;
    border: none;
    border-radius: 50%;
    background-color: gray;
    color: black;
    font-size: 25%;
    box-shadow: 3px 3px 2px 2px gray;
}

.hint24 { height: 100%;
    border: none;
    border-radius: 50%;
    background-color: gray;
    color: black;
    font-size: 25%;
    box-shadow: 3px 3px 2px 2px gray;
}

.guess31 { height: 100%;
    border: none;
    border-radius: 50%;
    background-color: gray;
    color: black;
    font-size: 60%;
    margin-right: 0%;
    text-align: center;
    padding: 1% 1%;
}

.guess32 { height: 100%;
    border: none;
    border-radius: 50%;
    background-color: gray;
    color: black;
    font-size: 60%;
    margin-right: 0%;
    text-align: center;
    padding: 1% 1%;
}

.guess33 { height: 100%;
    border: none;
    border-radius: 50%;
    background-color: gray;
    color: black;
    font-size: 60%;
    margin-right: 0%;
    text-align: center;
    padding: 1% 1%;
}

.guess34 { height: 100%;
    border: none;
    border-radius: 50%;
    background-color: gray;
    color: black;
    font-size: 60%;
    margin-right: 0%;
    text-align: center;
    padding: 1% 1%;
}

.hint31 { height: 100%;
    border: none;
    border-radius: 50%;
    background-color: gray;
    color: black;
    font-size: 25%;
    box-shadow: 3px 3px 2px 2px gray;
}

.hint32 { height: 100%;
    border: none;
    border-radius: 50%;
    background-color: gray;
    color: black;
    font-size: 25%;
    box-shadow: 3px 3px 2px 2px gray;
}

.hint33 { height: 100%;
    border: none;
    border-radius: 50%;
    background-color: gray;
    color: black;
    font-size: 25%;
    box-shadow: 3px 3px 2px 2px gray;
}

.hint34 { height: 100%;
    border: none;
    border-radius: 50%;
    background-color: gray;
    color: black;
    font-size: 25%;
    box-shadow: 3px 3px 2px 2px gray;
}

.guess41 { height: 100%;
    border: none;
    border-radius: 50%;
    background-color: gray;
    color: black;
    font-size: 60%;
    margin-right: 0%;
    text-align: center;
    padding: 1% 1%;
}

.guess42 { height: 100%;
    border: none;
    border-radius: 50%;
    background-color: gray;
    color: black;
    font-size: 60%;
    margin-right: 0%;
    text-align: center;
    padding: 1% 1%;
}

.guess43 { height: 100%;
    border: none;
    border-radius: 50%;
    background-color: gray;
    color: black;
    font-size: 60%;
    margin-right: 0%;
    text-align: center;
    padding: 1% 1%;
}

.guess44 { height: 100%;
    border: none;
    border-radius: 50%;
    background-color: gray;
    color: black;
    font-size: 60%;
    margin-right: 0%;
    text-align: center;
    padding: 1% 1%;
}

.hint41 { height: 100%;
    border: none;
    border-radius: 50%;
    background-color: gray;
    color: black;
    font-size: 25%;
    box-shadow: 3px 3px 2px 2px gray;
}

.hint42 { height: 100%;
    border: none;
    border-radius: 50%;
    background-color: gray;
    color: black;
    font-size: 25%;
    box-shadow: 3px 3px 2px 2px gray;
}

.hint43 { height: 100%;
    border: none;
    border-radius: 50%;
    background-color: gray;
    color: black;
    font-size: 25%;
    box-shadow: 3px 3px 2px 2px gray;
}

.hint44 { height: 100%;
    border: none;
    border-radius: 50%;
    background-color: gray;
    color: black;
    font-size: 25%;
    box-shadow: 3px 3px 2px 2px gray;
}

.guess51 { height: 100%;
    border: none;
    border-radius: 50%;
    background-color: gray;
    color: black;
    font-size: 60%;
    margin-right: 0%;
    text-align: center;
    padding: 1% 1%;
}

.guess52 { height: 100%;
    border: none;
    border-radius: 50%;;
    color: black;
    font-size: 60%;
    margin-right: 0%;
    text-align: center;
    padding: 1% 1%;
}

.guess53 { height: 100%;
    border: none;
    border-radius: 50%;
    background-color: gray;
    color: black;
    font-size: 60%;
    margin-right: 0%;
    text-align: center;
    padding: 1% 1%;
}

.guess54 { height: 100%;
    border: none;
    border-radius: 50%;
    background-color: gray;
    color: black;
    font-size: 60%;
    margin-right: 0%;
    text-align: center;
    padding: 1% 1%;
}

.hint51 { height: 100%;
    border: none;
    border-radius: 50%;
    background-color: gray;
    color: black;
    font-size: 25%;
    box-shadow: 3px 3px 2px 2px gray;
}

.hint52 { height: 100%;
    border: none;
    border-radius: 50%;
    background-color: gray;
    color: black;
    font-size: 25%;
    box-shadow: 3px 3px 2px 2px gray;
}

.hint53 { height: 100%;
    border: none;
    border-radius: 50%;
    background-color: gray;
    color: black;
    font-size: 25%;
    box-shadow: 3px 3px 2px 2px gray;
}

.hint54 { height: 100%;
    border: none;
    border-radius: 50%;
    background-color: gray;
    color: black;
    font-size: 25%;
    box-shadow: 3px 3px 2px 2px gray;
}

.guess61 { height: 100%;
    margin-top: 75px;
    border: none;
    border-radius: 50%;
    background-color: gray;
    color: black;
    font-size: 60%;
    margin-right: 0%;
    text-align: center;
    padding: 1% 1%;
}

.guess62 { height: 100%;
    border: none;
    border-radius: 50%;
    background-color: gray;
    color: black;
    font-size: 60%;
    margin-right: 0%;
    text-align: center;
    padding: 1% 1%;
}

.guess63 { height: 100%;
    border: none;
    border-radius: 50%;
    background-color: gray;
    color: black;
    font-size: 60%;
    margin-right: 0%;
    text-align: center;
    padding: 1% 1%;
}

.guess64 { height: 100%;
    border: none;
    border-radius: 50%;
    background-color: gray;
    color: black;
    font-size: 60%;
    margin-right: 0%;
    text-align: center;
    padding: 1% 1%;
}

.hint61 { height: 100%;
    border: none;
    border-radius: 50%;
    background-color: gray;
    color: black;
    font-size: 25%;
    box-shadow: 3px 3px 2px 2px gray;
}

.hint62 { height: 100%;
    border: none;
    border-radius: 50%;
    background-color: gray;
    color: black;
    font-size: 25%;
    box-shadow: 3px 3px 2px 2px gray;
}

.hint63 { height: 100%;
    border: none;
    border-radius: 50%;
    background-color: gray;
    color: black;
    font-size: 25%;
    box-shadow: 3px 3px 2px 2px gray;
}

.hint64 { height: 100%;
    border: none;
    border-radius: 50%;
    background-color: gray;
    color: black;
    font-size: 25%;
    box-shadow: 3px 3px 2px 2px gray;
}
