.container {
    position: relative;
    text-align: left;
}

.key {
    border: 2px solid black;
    border-radius: 40px;
    background-color: gray;
    color: white;
    font-size: 400%;
    margin-right: 0.5%;
    margin-top: 4%;
    padding: 8px 40px;
    width: 15%;
    box-shadow: 2px 2px 2px 2px lightgray;
}
