.container {
    position: relative;
    text-align: left;
}

.Akey {
    border: 2px solid black;
    border-radius: 10px;
    background-color: gray;
    color: white;
    font-size: 400%;
    margin-right: 0.5%;
    box-shadow: 2px 2px 2px 2px lightgray;
}
.Bkey {
    border: 2px solid black;
    border-radius: 10px;
    background-color: gray;
    color: white;
    font-size: 400%;
    margin-right: 0.5%;
    box-shadow: 2px 2px 2px 2px lightgray;
}
.Ckey {
    border: 2px solid black;
    border-radius: 10px;
    background-color: gray;
    color: white;
    font-size: 400%;
    margin-right: 0.5%;
    box-shadow: 2px 2px 2px 2px lightgray;
}
.Dkey {
    border: 2px solid black;
    border-radius: 10px;
    background-color: gray;
    color: white;
    font-size: 400%;
    margin-right: 0.5%;
    box-shadow: 2px 2px 2px 2px lightgray;
}
.Ekey {
    border: 2px solid black;
    border-radius: 10px;
    background-color: gray;
    color: white;
    font-size: 400%;
    margin-right: 0.5%;
    box-shadow: 2px 2px 2px 2px lightgray;
}
.Fkey {
    border: 2px solid black;
    border-radius: 10px;
    background-color: gray;
    color: white;
    font-size: 400%;
    margin-right: 0.5%;
    box-shadow: 2px 2px 2px 2px lightgray;
}
.Gkey {
    border: 2px solid black;
    border-radius: 10px;
    background-color: gray;
    color: white;
    font-size: 400%;
    margin-right: 0.5%;
    box-shadow: 2px 2px 2px 2px lightgray;
}