.header {
    margin: auto;
    width: 75%;
    color: blue; 
    font-size: 40px;
    font-family: arial;
    margin-bottom: 3%;
}
.gameMgmt {
    text-align: center;
    font-size: 25px;
    font-family: arial;
    color: black;
}
