.header {color: blue; font-size: 36px; margin-bottom: 2%;}
.NewWords {color:red; font-size: x-large; margin-top:3%}
.footer {color: red; font-size: 12px; margin-top: 3%;}


.container {position: relative; text-align: left}

.jumble1 {color: black; font-size: xx-large; margin-right: 2%;}
.word1 {color: red; font-size: 24px; margin-right: 4%;}
.hint1 {background-color: white; color: blue; font-size: xx-large; margin-right: 1%;}
.show1 {background-color: white; color: blue; font-size: xx-large; margin-bottom: 2%;}

.jumble2 {color: black; font-size: xx-large; margin-right: 2%;}
.word2 {color: red; font-size: 24px; margin-right: 4%;}
.hint2 {background-color: white; color: blue; font-size: xx-large; margin-right: 1%;}
.show2 {background-color: white; color: blue; font-size: xx-large; margin-bottom: 2%;}

.jumble3 {color: black; font-size: xx-large; margin-right: 2%;}
.word3 {color: red; font-size: 24px; margin-right: 4%;}
.hint3 {background-color: white; color: blue; font-size: xx-large; margin-right: 1%;}
.show3 {background-color: white; color: blue; font-size: xx-large; margin-bottom: 2%;}

.jumble4 {color: black; font-size: xx-large; margin-right: 2%;}
.word4 {color: red; font-size: 24px; margin-right: 4%;}
.hint4 {background-color: white; color: blue; font-size: xx-large; margin-right: 1%;}
.show4 {background-color: white; color: blue; font-size: xx-large; margin-bottom: 2%;}

.jumble5 {color: black; font-size: xx-large; margin-right: 2%;}
.word5 {color: red; font-size: 24px; margin-right: 4%;}
.hint5 {background-color: white; color: blue; font-size: xx-large; margin-right: 1%;}
.show5 {background-color: white; color: blue; font-size: xx-large; margin-bottom: 2%;}
