.header {color: blue;}
.container {position: relative;}
.hint1 {background-color: white; color: black;}
.show1 {background-color: white; color: black;}

.hint2 {background-color: white; color: black;}
.show2 {background-color: white; color: black;}

.hint3 {background-color: white; color: black;}
.show3 {background-color: white; color: black;}

.hint4 {background-color: white; color: black;}
.show4 {background-color: white; color: black;}

.hint5 {background-color: white; color: black;}
.show5 {background-color: white; color: black;}
