.header {
    color: black; 
    font-size: 72px;
    font-family: arial;
    margin-bottom: 2%;
    text-align: center;
}
.container {
    webkit-appearance: none !important;
    position: relative;
    text-align: left;
}
.userWord { 
    color: blue;
    font-size: 48px;
    margin-right: 10%;
    margin-top: 5%;
}
input[type="text"] {
  color: blue;
  size:18;
  font-size:48px;
}
.submit {
    border: none;
    border-radius: 10px;
    background-color: blue;
    color: white;
    font-size: 48px;
    margin-right: 1%;
    box-shadow: 3px 3px 2px 2px gray;
}
.aList {
  font-size: 36px;
  margin-right:10%;
  text-align: left;
  color: black;
}
  