.header {
    color: blue; 
    font-size: 24px;
    font-family: arial;
    margin-bottom: 2%;
}
.container {
    webkit-appearance: none !important;
    position: relative;
    text-align: left;
}
.userWord { 
    color: blue;
    font-size: 72px;
    margin-right: 10%;
    margin-top: 5%;
}
