.header {
    color: blue; 
    font-size: 72px;
    font-family: arial;
    margin-bottom: 2%;
}
.container {
    webkit-appearance: none !important;
    position: relative;
    text-align: left;
}
.userWord { 
    color: blue;
    font-size: 48px;
    margin-right: 10%;
    margin-top: 5%;
}
input[type="text"] {
  size:18;
  font-size:48px;
}
.submit {
    border: none;
    border-radius: 10px;
    background-color: blue;
    color: white;
    font-size: xx-large;
    margin-right: 1%;
    box-shadow: 3px 3px 2px 2px gray;
}
  