.header {
    color: blue; 
    font-size: 36px;
    font-family: arial;
    margin-bottom: 2%;
}
.NewWords {
    color:red;
    font-size: xx-large;
    margin-top:3%
}
.footer {
    color: red;
    font-size: 12px;
    margin-top: 3%;
}


.container {
    position: relative;
    text-align: left;
}

.hint1 {
    border: none;
    border-radius: 10px;
    background-color: blue;
    color: white;
    font-size: xx-large;
    margin-right: 1%;
    box-shadow: 3px 3px 2px 2px gray;
}
.show1 {
    border: none;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-size: xx-large;
    box-shadow: 3px 3px 2px 2px gray;
}
.jumble1 {
    color: black;
    font-size: xx-large;
}
.word1 {
    color: red;
    font-size: 24px;
}

.hint2 {
    border: none;
    border-radius: 10px;
    background-color: blue;
    color: white;
    font-size: xx-large;
    margin-right: 1%;
    box-shadow: 3px 3px 2px 2px gray;
}
.show2 {
    border: none;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-size: xx-large;
    box-shadow: 3px 3px 2px 2px gray;
}
.jumble2 {
    color: black;
    font-size: xx-large;
}
.word2 {
    color: red;
    font-size: 24px;
}

.hint3 {
    border: none;
    border-radius: 10px;
    background-color: blue;
    color: white;
    font-size: xx-large;
    margin-right: 1%;
    box-shadow: 3px 3px 2px 2px gray;
}
.show3 {
    border: none;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-size: xx-large;
    box-shadow: 3px 3px 2px 2px gray;
}
.jumble3 {
    color: black;
    font-size: xx-large;
}
.word3 {
    color: red;
    font-size: 24px;
}

.hint4 {
    border: none;
    border-radius: 10px;
    background-color: blue;
    color: white;
    font-size: xx-large;
    margin-right: 1%;
    box-shadow: 3px 3px 2px 2px gray;
}
.show4 {
    border: none;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-size: xx-large;
    box-shadow: 3px 3px 2px 2px gray;
}
.jumble4 {
    color: black;
    font-size: xx-large;
}
.word4 {
    color: red;
    font-size: 24px;
}

.hint5 {
    border: none;
    border-radius: 10px;
    background-color: blue;
    color: white;
    font-size: xx-large;
    margin-right: 1%;
    box-shadow: 3px 3px 2px 2px gray;
}
.show5 {
    border: none;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-size: xx-large;
    box-shadow: 3px 3px 2px 2px gray;
}
.jumble5 {
    color: black;
    font-size: xx-large;
}
.word5 {
    color: red;
    font-size: 24px;
}
